@font-face {
  font-family: font1;
  src: url(Fonts/BacasimeAntique-Regular.ttf);
}
@font-face {
  font-family: font2;
  src: url(Fonts/Nunito-VariableFont_wght.ttf);
}

* {
  font-family: font1;
}

.credit {
  font-family: font2;
  font-size: 13px;
}

header {
  max-width: 1300px;
}

main {
  max-width: 1300px;
}

body .indexid,
.autumnid,
.winterid,
.springid,
.summerid {
  margin: auto;
}

.page1 {
  max-width: 1200px;
}

.indexid {
  max-width: 800px;
}
.title {
  color: black;
  text-decoration: none;
  font-size: 31px;
  text-align: center;
}

.h1 {
  margin-top: 1em;
}
nav a {
  text-decoration: none;
}
.autumnbutton:hover {
  border-radius: 15px;
  background-color: #f5d7b1;
}
.winterbutton:hover {
  border-radius: 15px;
  background-color: #99aadf;
}

.springbutton:hover {
  border-radius: 15px;
  background-color: #90c5a4;
}

.summerbutton:hover {
  border-radius: 15px;
  background-color: #f8f7aa;
}

nav ul li a {
  padding: 10px;
  color: black;
}

nav ul li:nth-child(odd) {
  translate: 0 -15px;
}

nav ul li:nth-child(even) {
  translate: 0 10px;
}

.intro1 {
  max-width: 300px;
  margin-left: 2rem;
}
.intro2 {
  max-width: 300px;
  margin-left: 2rem;
}
img {
  max-width: 100%;
  object-fit: cover;
}

.pic2 {
  margin-top: 2em;
}

.pic3 {
  margin-top: 2em;
}
nav ul {
  display: flex;
  align-items: center;
  object-fit: contain;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  flex-direction: row;
}

h1 {
  text-align: center;
  margin-top: 14%;
  margin-bottom: 10%;
  color: black;
  text-decoration: none;
}

div {
  font-size: large;
}

.grid-span-1 {
  margin-top: 10%;
}

.quote {
  text-align: center;
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  line-height: 1.7;
  font-size: 19px;
}

.index1 img {
  margin-top: 2rem;
}
#autumnid {
  background-color: #f7efe4;
}
#winterid {
  background-color: #e3e9fd;
}
#springid {
  background-color: #e5f3ea;
}
#summerid {
  background-color: #fcffec;
}
.poem1,
.poem2,
.poem3,
.poem4,
.poem5,
.poem6,
.poem7,
.poem8,
.poem9,
.poem10,
.poem11,
.poem12,
.poem13 {
  line-height: 1.6;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

.poem3,
.poem4,
.poem6,
.poem7,
.poem9 {
  text-align: center;
}

.poem1,
.poem2,
.poem5,
.poem8,
.poem10,
.poem11,
.poem12,
.poem13 {
  margin-left: 25px;
}
.intro1,
.intro2 {
  line-height: 1.4;
}

.intro1,
.intro2 {
  width: 60ch;
  justify-self: center;
  font-size: large;
}

.intro1 {
  align-self: end;
}

.buttonpoem1 {
  background-color: #ffffff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.footer {
  margin-top: 3em;
  border-top: 2px solid #000;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  right: 0;
}

@media (width>=800px) {
  .pbm {
    margin-top: 2em;
    text-align: center;
  }

  .title {
    color: black;
    text-decoration: none;
    font-size: 60px;
  }

  .page1 {
    margin-left: 5em;
  }

  nav ul li:nth-child(even) {
    translate: 0 30px;
  }
  .title {
    text-align: center;
    margin-top: 1em;
  }
  .winter1 {
    padding: 6em;
  }
  div:has(img) {
    max-width: 600px;
  }

  .web {
    max-width: 70%;
    margin: auto;
  }
  .web section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .web section div {
    grid-column: 1/ 2;
  }

  nav ul li a {
    padding: 11px;
    padding-left: 19px;
    padding-right: 19px;
    color: black;
  }
  .autumnbutton:hover {
    border-radius: 15px;
    background-color: #f5d7b1;
  }
  .winterbutton:hover {
    border-radius: 15px;
    background-color: #99aadf;
  }

  .springbutton:hover {
    border-radius: 15px;
    background-color: #90c5a4;
  }

  .summerbutton:hover {
    border-radius: 15px;
    background-color: #f8f7aa;
  }
}

.grid-span-1 {
  margin-left: 2em;
}
